.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}
.login hr {
  display: inline-block;
  width: 40%;
  border-top: 1px solid #000;
  margin: 15px 0;
  background-color: #000;
  outline: none;
}

.login .login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 300px;
}
.login-form input {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
}
.login-form input:focus {
  outline: none;
}
.login-form .input-alert {
  font-size: 8px;
  color: red;
  font-weight: 700;
}
.login-form .login-checkbox {
  display: flex;
  align-items: center;
  height: 14px;
  font-size: 8px;
}
.login-form .btn-login {
  height: 45px;
  margin-bottom: 10px;
}

.login-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  font-size: 8px;
  margin-top: 5px;
}
.login-options .search-info {
  height: 14px;
}
.login-options .search-info a {
  text-decoration: none;
}
.login-options .search-info a:hover {
  text-decoration: underline;
}
.login-options .line {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login-options .line span {
  width: calc(20% - 30px);
}
.login-options img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.login-options .naver-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #03c75a;
  border-radius: 6px;
  color: white;
  font-size: 13.2px;
  font-weight: 600;
  cursor: pointer;
}
.login-options .naver-btn img {
  width: 45px;
  height: 45px;
  padding-left: 1px;
}
.login-options .naver-btn span {
  padding-left: 73px;
}
