@import "../../utils/utils.scss";

.main-container {
  max-width: $app-max-width;
  min-width: $app-min-width;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 120px 30px 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;

  .meetingList {
    display: flex;
    flex-direction: column;

    .title {
      text-align: left;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .modalBody {
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: calc(100vh - 16px);
    overflow: hidden auto;
    position: relative;
    padding-block: 12px;
    padding-inline: 24px;
  }
}

@media (max-width: 600px) {
  .main-container {
    padding-top: 160px;
  }
}
