@import "../../utils/_utils.scss";

$padding-top-main-container: 120px;

.main-container {
  max-width: $max-width-app;
  min-width: $min-width-app;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: $padding-top-main-container $padding-main-page $padding-main-page
    $padding-main-page;
  margin: 0 auto;
  box-sizing: border-box;

  .meetingList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .list-title {
      text-align: left;
      font-size: 20px;
      font-weight: 700;
      margin-top: 0;
      cursor: default;
    }
  }

  .modalBody {
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $color-basic-white;
    max-height: calc(100vh - 16px);
    overflow: hidden auto;
    position: relative;
    padding-block: 12px;
    padding-inline: 24px;
  }
}

@media (max-width: $reactive-width-navigation) {
  .main-container {
    padding-top: calc($padding-top-main-container + $height-navigation-item);
  }
}
