@use "../CommonStyle.scss";

.container-box {
  @extend %container;
  width: 465px;
}

.content-box_add {
  @extend %content;

  position: relative;
  color: #979797;
  line-height: 16px;
  height: 100%;

  .form-box {
    height: 650px;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    height: 90%;
  }
  input {
    width: 100%;
    padding: 0 30px;
    font-family: "Noto Sans KR";
    font-size: 16px;
    line-height: 16px;
  }

  .input-title input::placeholder {
    color: #000;
    font-weight: 500;
  }
  .category {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 30px;
    cursor: pointer;
  }
  .category input {
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .category .drop-down {
    position: absolute;

    width: 16px;
    height: 16px;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .input-info {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #979797;
  }

  .input-info .wrapper {
    display: flex;
    gap: 40px;
  }

  .input-info .info-box {
    display: flex;
    gap: 8px;
    text-align: center;
    align-items: center;
    height: 38px;
  }

  .input-info .info-box p {
    font-size: 14px;
    line-height: 16px;
  }

  .input-info input {
    border: none;
    height: 32px;
    font-size: 14px;
    padding: 0;
    color: #979797;
  }

  .input-content {
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 16px;
    border-radius: 0px 0px 5px 5px;
    flex-grow: 1;
  }

  .input-content textarea {
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    resize: none;
    width: 100%;
    height: calc(100% - 36px);
    border: none;
  }

  .input-content .tag {
    display: flex;
    height: 36px;
    gap: 10px;
  }

  .input-content .tag input {
    height: 36px;
    font-size: 14px;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  button.add {
    box-sizing: border-box;
    padding: 16px 30px;
    gap: 10px;

    width: 100%;
    height: 52px;

    background: #9747ff;

    border: 1px solid #979797;
    border-radius: 5px;
  }
}

.drop-box {
  position: absolute;
  left: 0;
  top: 48px;
  background-color: #fff;
  width: 150px;
  height: fit-content;
  z-index: 11;
  border: 1px solid black;

  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 10px;
  }
  li:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .wrapper {
    position: relative;
  }
  .wrapper:hover .data-name {
    background-color: #eee;
  }
  .data-name {
    pointer-events: none;
  }

  .data-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid black;

    top: 0;
    left: 100%;
    display: none;
    width: 190px;
    padding: 10px 0;
  }

  .wrapper:hover .data-list {
    display: block;
  }
}
