@use "/src/utils/utils";

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.search-tab {
  position: relative;
  width: 465px;
  height: 100%;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 150px;
  padding: 0 20px;
  background-color: #9747ff;
}
.search-box .navIcon:hover {
  cursor: pointer;
}
.search-box .inputBox {
  display: flex;
  margin-top: 30px;

  height: 30px;
}
.search-box .title {
  display: flex;
  position: absolute;
  top: 20px;

  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.inputBox .title a:-webkit-any-link {
  color: #fff;
}

.search-box_wrapper .toggle-icons {
  display: none;
}

.search-box .inputBox input {
  width: 100%;
  height: inherit;
  opacity: 70%;
  border-radius: 5px;
  border: none;
}
.search-box .inputBox button {
  position: absolute;
  background: none;
  right: 25px;
  color: black;
  height: inherit;
}

.search-box .fliter {
  display: flex;
  gap: 6px;
  overflow: scroll;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.search-box .fliter::-webkit-scrollbar {
  display: none;
}
.search-box .fliter button {
  height: 30px;
  line-height: 1;
  padding: 10px;
  border-radius: 15px;
  background-color: #f3f3f3;
  color: black;
  opacity: 76%;
}
.search-box button.selected {
  background-color: #005fb8;
  color: #fff;
}

.smallBox {
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
}
.smallBox p {
  margin: 10px 3px;
}
.smallBox p.count {
  margin-right: auto;
  color: #005fb8;
}

.smallBox span.sort:hover {
  text-decoration: underline;
  cursor: pointer;
}
.smallBox span.selected {
  font-weight: 600;
  color: #005fb8;
}

.searchResult {
  margin: 0 20px;
  padding: 0;
  text-align: left;
  height: 45px;
  line-height: 45px;
}

hr {
  margin: 0;
}
.searchResult span {
  color: #1f8cff;
}
.search-option {
  height: 90px;
}

.dashBoard {
  position: relative;
  height: calc(100vh - 240px - 10px);
  background-color: #fff;
  overflow-y: scroll;
  padding-bottom: 10px;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  .meetingCard {
    padding: 0 20px;
  }
  .meetingCard:hover {
    cursor: pointer;
    background: #eff7ff;
  }

  &::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
}

.listBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  .listBox-row:nth-child(1) {
    width: 400px;
    margin-bottom: 20px;
  }

  p {
    font-family: "Noto Sans KR";
    line-height: 29px;
    letter-spacing: -0.04em;

    margin: 0;
  }
  span {
    font-family: "Noto Sans KR";
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: utils.$color-theme-primary;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;

    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.04em;
  }
  .listBox-row {
    display: flex;
    gap: 10px;
  }
  .title {
    h3 {
      flex: 1;
    }
    h4 {
      flex: 6;
    }
    p {
      flex: 6;
    }
  }
  .like {
    position: absolute;
    right: 20px;
    font-size: 24px;
  }
  .fill {
    color: #f01919;
  }
  hr {
    width: 100%;
  }
  button {
    background-color: #eee;
    color: black;
    padding: 4px 15px;
    height: 30px;
  }
}
.listBox:hover {
  background-color: #eff7ff;
  cursor: pointer;
}

.mapComponent {
  flex-grow: 1;
  height: 100vh;
}
#map {
  width: 100%;
  height: 100%;
}
.mapComponent button {
  position: absolute;
}
.icons {
  position: fixed;
  width: 66px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  justify-content: center;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  white-space: nowrap;

  button {
    margin: 0 auto;
    width: 66px;
    height: 66px;
    color: #666;
    font-size: 26px;
    background: #ffffff;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    padding: 0;
  }
  .modals button {
    border-radius: 0;
  }

  .zoom {
    position: absolute;
    right: 80px;
    bottom: 0;
    padding: 30px 0;
  }
  .zoom button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
  }

  .selected {
    background: #1f8cff;
    color: #fff;
  }

  .bi:hover {
    opacity: 40%;
  }
}

@media (max-width: utils.$reactive-width-navigation) {
  .main {
    flex-direction: column;
    overflow: hidden;
  }
  .search-tab {
    width: 100%;
  }
  .search-box {
    width: 100%;
    height: 80px;

    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 10px;
    background: none;
    // position: absolute;
    z-index: 20;

    color: utils.$color-theme-primary;
  }

  .search-box_wrapper {
    display: flex;
  }
  .search-box_wrapper .toggle-icons {
    display: block;
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
  }

  .search-box_wrapper .toggle-icons p {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR";
    font-weight: 900;
    font-size: 12px;
    line-height: 10px;
  }

  .search-box .title {
    position: relative;
    top: 0;
    margin: 0 10px;
    font-family: "Noto Sans KR";
    font-weight: 900;
    font-size: 18px;

    color: utils.$color-theme-primary;
  }
  .search-box .title i {
    display: none;
  }

  .inputBox .title a:-webkit-any-link {
    color: utils.$color-theme-primary;
  }

  .search-box .inputBox {
    width: 100%;
    height: 40px;

    background: #fff;
    margin: 0;

    border: 3px solid utils.$color-theme-primary;

    box-shadow: 1px 3px 5px 2px rgba(151, 151, 151, 0.5);
    border-radius: 10px;

    input:focus {
      outline: none;
    }
  }

  .listBox {
    .listBox-row:nth-child(1) {
      width: 300px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }

  .dashBoard {
    height: calc(100vh - 170px - 60px);
    padding-bottom: 60px;
  }

  .search-box .fliter {
    display: none;
  }
  .search-option {
    font-size: 14px;
  }

  .mapComponent {
    width: 100%;
  }

  .icons {
    height: fit-content;
  }
  .icons .zoom button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 10px;
  }
  .icons .modals {
    z-index: 12;
    position: fixed;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .icons .zoom {
    position: fixed;
    right: 20px;
    top: 140px;
  }
  .icons .exit {
    display: none;
  }
}
