.header {
  display: none;
}
.footer {
  display: none;
}
.container {
  max-width: 100vw;
  padding: 0;
}

.main {
  overflow: hidden;
  display: flex;
}
.searchTab {
  width: 465px;
  height: 100vh;
  position: relative;
}

.searchBox {
  height: 150px;
  background-color: #6667ab;
}
.searchBox .nav:hover {
  cursor: pointer;
}
.searchBox .title {
  margin: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.searchBox .title p {
  margin: 20px 0 15px 0;
}

.searchBox .inputBox {
  display: flex;
  margin: 0 20px;
  margin-bottom: 15px;
  height: 30px;
}

.searchBox .inputBox input {
  width: 423px;
  height: inherit;
  opacity: 70%;
  border-radius: 5px;
  border: none;
}
.searchBox .inputBox button {
  position: absolute;
  background: none;
  right: 30px;
  color: black;
  height: inherit;
}

.searchBox .title p {
  margin-left: 10px;
}
.searchBox .fliter {
  display: flex;
  margin: 5px 20px;
  overflow: scroll;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.searchBox .fliter::-webkit-scrollbar {
  display: none;
}
.searchBox .fliter button {
  padding: 4px 11px 6px;
  height: 30px;
  border-radius: 999px;
  margin: 0 3px;
  background-color: #f3f3f3;
  color: black;
  opacity: 76%;
}
.searchBox button.selected {
  background-color: #005fb8;
  color: #fff;
}

.dashBoard {
  position: absolute;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.dashBoard .meetingCard:hover {
  cursor: pointer;
  background: #eff7ff;
}

.dashBoard::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.dashBoard .searchResult {
  margin: auto 20px;
  text-align: left;
  height: 45px;
  line-height: 45px;
}
.dashBoard hr {
  margin: 0;
}
.dashBoard .searchResult span {
  color: #1f8cff;
}
.smallBox {
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
}
.smallBox p {
  margin: 10px 3px;
}
.smallBox p.count {
  margin-right: auto;
  color: #1f8cff;
}
.listBox {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
.listBox h4 {
  margin: auto;
  padding: 10px;
}
.listBox:hover {
  background-color: #eff7ff;
  cursor: pointer;
}

.mapComponent {
  flex-grow: 1;
  height: 100vh;
}
#map {
  width: 100%;
  height: 100%;
}
.mapComponent button {
  position: absolute;
}
.icons {
  position: fixed;
  height: 95%;
  top: 20px;
  right: 30px;
  z-index: 9;
  background: none;
  justify-content: center;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  white-space: nowrap;
}
.icons button {
  margin: 3px 0;
  width: 42px;
  height: 42px;
  color: #666;
  font-size: 21px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
