.header {
  display: none;
}
.footer {
  display: none;
}
.container {
  max-width: 100vw;
  padding: 0;
}

.main {
  overflow: hidden;
  display: flex;
}
.searchTab {
  width: 465px;
  height: 100vh;
  position: relative;
}

.searchBox {
  height: 150px;
  background-color: #6667ab;
}
.searchBox .title {
  margin: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.searchBox .title p {
  margin: 15px 0 5px 0;
}
.searchBox .inputBox {
  margin: 11px 0;
}

.searchBox .inputBox input {
  width: 423px;
  height: 30px;
  opacity: 70%;
  border-radius: 5px;
  border: none;
}
.searchBox .title p {
  margin-left: 10px;
}
.searchBox .fliter {
  display: flex;
  margin: 0 20px;
  overflow: hidden;
}
.searchBox button {
  padding: 4px 11px 6px;
  height: 30px;
  border-radius: 999px;
  margin: 0 4px;
  background-color: #f3f3f3;
  color: black;
  opacity: 76%;
}
.searchBox button.selected {
  background-color: #005fb8;
  color: #fff;
}

.dashBoard {
  position: absolute;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.dashBoard::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.dashBoard .searchResult {
  margin: auto 20px;
  text-align: left;
  height: 45px;
  line-height: 45px;
}
.dashBoard hr {
  margin: 0;
}
.dashBoard .searchResult span {
  color: #1f8cff;
}
.largeBox {
  margin: 18px;
}
.largeBox .title {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 20px;
}
.largeBox div.text p {
  margin: 0 18px;
  font-weight: bold;
}
.largeBox .title img.liked {
  margin-left: auto;
}
hr.line {
  color: #999999;
  width: 425px;
}
.largeBox .content {
  position: relative;
  text-align: left;
  margin: 0 25.5px;
}

.largeBox .content span {
  color: #227b3d;
}
.largeBox .content p {
  margin: 8px 0;
}
.largeBox .content p.tag {
  padding: 8px 0;
}
.largeBox .content p.time {
  position: absolute;
  width: auto;
  left: 90%;
  top: 90%;
  margin: 0;
  font-size: 12.8px;
  white-space: nowrap;
}
.smallBox {
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
}
.smallBox p {
  margin: 10px 3px;
}
.smallBox p.count {
  margin-right: auto;
  color: #1f8cff;
}
.listBox {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
.listBox h4 {
  margin: auto;
  padding: 10px;
}
.listBox:hover {
  background-color: #eff7ff;
  cursor: pointer;
}

.mapComponent {
  flex-grow: 1;
  height: 100vh;
}
#map {
  width: 100%;
  height: 100%;
}
