.meeting {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  font-size: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.meeting .meeting-header {
  display: flex;
  align-items: center;
}
.meeting .meeting-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  flex-grow: 9;
}
.meeting .meeting-title .main-title {
  font-size: 13px;
  font-weight: 700;
}
.material-symbols-outlined {
  flex-grow: 1;
  text-align: right;
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 1000, "opsz" 0;
}
.like {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 1000, "opsz" 0;
}
.meeting .meeting-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
