hr {
  width: 100%;
  border: 1px solid #d8d8d8;
}

.meeting {
  width: 250px;
  min-width: 250px;
  height: 140px;
  font-size: 12px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 2px rgba(151, 151, 151, 0.5);
  box-sizing: border-box;
}
.meeting .meeting-category {
  display: flex;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 24px;
  cursor: default;
}
.meeting .meeting-category span {
  line-height: 24px;
}
.meeting .meeting-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}
.meeting .meeting-status {
  padding: 0 10px;
  background-color: #9747ff;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
}
.material-symbols-outlined {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 1000, "opsz" 0;
}
.like {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 1000, "opsz" 0;
}
