@import "../../utils/utils.scss";

.categoryList-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @mixin categoryList {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .large-category {
    @include categoryList;

    .large-item {
      width: 100px;
      height: 110px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.3s linear;
      &:hover {
        transform: translateY(-5px);
        color: $color-theme-primary;
        .itemIcon {
          border: 2px solid $color-theme-primary;
        }
      }

      .item-icon {
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px 6px 3px rgba(151, 151, 151, 0.5);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
      }
      .item-name {
        font-size: 12px;
        font-weight: 700;
        color: $color-basic-black;
      }
    }
  }

  .sub-category {
    @include categoryList;
    gap: 15px;

    .sub-item {
      width: 200px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      color: $color-gray-brightness02;
      box-shadow: 2px 2px 6px 3px rgba(151, 151, 151, 0.5);
      border: 1px solid $color-gray-brightness04;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $color-theme-primary;
        border: 2px solid $color-theme-primary;
        transform: scale(1.02);
      }
    }
  }
  .sub-category-open {
    display: flex;
  }
  .sub-category-close {
    display: none;
  }
}

.sub-list-enter {
  transform: translateY(-30px);
}
.sub-list-enter-active {
  transform: translateY(0%);
  transition: transform 0.5s;
}
.sub-list-exit {
  transform: translateY(0%);
}
.sub-list-exit-active {
  transform: translateY(-30px);
  transition: transform 0.5s;
}
