.categoryList-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .itemList {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: #9747ff;
    }
    &:active {
      .itemIcon {
        background-color: #9747ff;
        color: #ffffff;
      }
    }

    .itemIcon {
      width: 60px;
      height: 60px;
      box-shadow: 2px 2px 6px 3px rgba(151, 151, 151, 0.5);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .itemName {
      font-size: 12px;
      font-weight: 700;
      color: black;
    }
  }
}
