@import "../../utils/utils.scss";

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  gap: 20px;

  .title {
    cursor: default;
  }

  .signupForm {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      outline: none;
    }

    .errorMessage {
      font-size: 10px;
      color: $color-basic-red;
      text-align: left;
      margin: -10px 0 0 0;
    }
    .email-verify-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .buttonForm {
      display: flex;
      gap: 10px;

      input {
        width: calc(80% - 5px);
        outline: none;
      }

      button {
        width: calc(20% - 5px);
        transition: all 0.2s linear;
        font-size: 12px;
      }
    }
  }
}
