@import "./utils/utils.scss";

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
.App {
  position: relative;
  min-width: $app-min-width;
}
/* 태그 공통 스타일 전역 설정 */
input {
  height: $form-items-height;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
  box-sizing: border-box;
}
button {
  display: block;
  height: $form-items-height;
  background-color: #6667ab;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
