/* 전체 영역 스타일 설정 */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}
.App {
  display: relative;
  text-align: center;
  min-width: 375px;
  box-sizing: border-box;
}
/* 태그 공통 스타일 전역 설정 */
button {
  display: block;
  background-color: #6667ab;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}
a {
  text-decoration: none;
}
/* 컴포넌트 전역 설정 */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 20px;
}
.footer {
  display: flex;
  align-items: center;
  background-color: orange;
  height: 20px;
  padding: 40px 40px;
  text-align: center;
}
