.side-nav-enter {
  transform: translateX(-100%);
}
.side-nav-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}
.side-nav-exit {
  transform: translateX(0);
}
.side-nav-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}
