@import "../../utils/_utils.scss";

.notice-container {
  max-width: $max-width-app;
  min-width: $min-width-app;
  padding: 120px 30px 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .notice-container {
    padding-top: 180px;
  }
}
